body{

    margin:0 auto;
	padding: 0;
	
    font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;	
	color: #000000;
}

.container{
    margin:0 auto;
    width: 940px;
}

.visually-hidden{
    visibility: hidden;
    font-size: 1px;
}

a {
    text-decoration: none;
  }

/* стилизация шапки главной страницы и страницы каталога */

.main-header__top{
    font-size: 17px;
	line-height: 18px;	
    color: #ffffff;

    background-color: #293449;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0;

}

.main-header__top button{
    font-size: 17px;
	line-height: 18px;	
    color: #ffffff;
    border: none;
    
    background-color: #293449;
}

.main-header__bottom{
    display: flex;
    box-sizing: border-box;
    width: 940px;
    padding-left: 53px;
    padding-right: 0;
}
.main-navigation{
    font-size: 17px;
	line-height: 17px;	
    color: #ffffff;
    
    background-color: #293449;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 52px;
    padding-right: 56px;
    padding-top: 22px;
    padding-bottom: 26px;

}

.main-navigation__list{
    list-style: none;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 940px;
    padding: 0;
    margin: 0;
    

}
.main-navigation__link{
    font-size: 17px;
	line-height: 17px;	
    color: #ffffff;
}

.main-header__wrap{
    background-color: #f4f7f9;
    display: flex;
    box-sizing: border-box;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 60px;
}


.main-header__text
{
    width: 196px;
    height: 60px;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #ee3643;
  }
.main-header__phone{
    font-size: 21px;
	line-height: 21px;	
    color: #ee3643;
}

.main-header__adress{
    font-size: 14px;
	line-height: 24px;	
    color: #32425c;
}


.main-header__enter{
    font-size: 21px;
	line-height: 21px;	
    color: #000000;
}
.main-header__registration{
    font-size: 21px;
	line-height: 21px;	
    color: #000000;
}

.main-header__name{
    font-size: 21px;
	line-height: 21px;	
    color: #000000;
}

.main-header__oders{
    font-size: 16px;
	line-height: 18px;	
    color: #32425c;
    text-decoration: underline;
}

.main-header__kabinet{
    font-size: 16px;
	line-height: 18px;	
    color: #32425c;
    text-decoration: underline;
}

/* стилизация основного содержимого главной страницы */

.goods__wrap{
    display: flex;
    box-sizing: border-box;
}
.goods__header{
    font-size: 30px;
	line-height: 30px;	
    color: #32425c;
}

.goods__all{
    font-size: 14px;
	line-height: 18px;	
    color: #ffffff;
    background-color: #ee3643;
}
.goods__catalog{
    list-style: none;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}
.fabricators__wrap{
    display: flex;
    box-sizing: border-box; 
}

.fabricators__all{
    font-size: 14px;
	line-height: 18px;	
    color: #ffffff;
    background-color: #ee3643;
}
.fabricators__catalog{
    list-style: none;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

.service{
    background-color: #f4f7f9;
}
.service__header{
    font-size: 30px;
	line-height: 30px;	
    color: #000000;
    
}
.service__text{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 24px;	
    color: #000000;
    
}

.service__list{
    font-weight: bold;
    font-size: 21px;
	line-height: 30px;	
    color: #ffffff; 
    background-color: #32425c;

    list-style: none;
}

.company__header{
    font-size: 30px;
	line-height: 30px;	
    color: #000000; 

}
.company__text{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 24px;	
    color: #000000;
    
}
.company_list{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
	line-height: 20px;	
    color: #000000; 

    list-style: none;
}
.company_link{
    font-size: 14px;
	line-height: 18px;	
    color: #ffffff;
    background-color: #ee3643; 
}
.contacts__header{
    font-size: 30px;
	line-height: 30px;	
    color: #000000; 
}
.contacts__text{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 24px;	
    color: #000000;
}

.contacts__link{
    font-size: 14px;
	line-height: 18px;	
    color: #ffffff;
    background-color: #ee3643; 
}

.mail__label{
    font-size: 18px;
	line-height: 18px;	
    color: #000000; 
}
.mail__name{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 18px;	
    color: #a9a9a9;
}
.mail__email{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 18px;	
    color: #a9a9a9;
}
.mail__letter{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 18px;	
    color: #a9a9a9;
}
.mail__button{
    font-size: 14px;
	line-height: 18px;	
    color: #ffffff;
    background-color: #ee3643; 
    border: none;
}

/* стилизация подвала главной страницы и страницы каталога */

.main-footer__wrap{
    background-color: #32425c; 
}

.main-footer__logo{
    background-color: #ee3643; 
}

.main-footer__contacts{
    font-size: 18px;
	line-height: 24px;	
    color: #f3f7f9;
}
.main-footer__nav{
    
    list-style: none;
}

.main-footer__nav{
    font-size: 18px;
	line-height: 24px;	
    color: #f3f7f9;
}

.main-footer__catalog{
    list-style: none;
}

.main-footer__list{
    font-size: 18px;
	line-height: 24px;	
    color: #ffda96;
}
  
.main-footer__bottom{
    background-color: #293449;
}

.main-footer__text{
    font-size: 16px;
	line-height: 18px;	
    color: #ffffff;
}
.main-footer__sotial{
    list-style: none;
}
.main-footer__email{
    font-size: 16px;
	line-height: 18px;	
    color: #ffffff;
}

.main-footer__link{
    font-size: 16px;
	line-height: 18px;	
    color: #ffda96;
}

.main-footer__developer{
    font-size: 16px;
	line-height: 18px;	
    color: #ffffff; 
}

/* стилизация главного содержимого страницы каталога */

.breadcrumbs{
    list-style  : none;
}
.breadcrumbs__link{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 18px;	
    color: #000000; 
}
.main__header{
    font-size: 30px;
	line-height: 30px;	
    color: #32425c; 
}

.main-filters__header{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 18px;	
    color: #000000; 
}
.main-filtres__legend{
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
	line-height: 30px;	
    color: #000000; 
}
.main-filtres__fabricators{
    list-style  : none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
	line-height: 20px;	
    color: #000000; 
}

.main-filtres__power{
    list-style  : none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
	line-height: 20px;	
    color: #000000; 
}
fieldset{
    border: none;
}
.main-filtres__button{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
	line-height: 18px;	
    color: #000000; 
    background-color: #ffffff;
    border-color: #e5e5e5;

}

.goods__item{

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
	line-height: 20px;	
    color: #000000; 
}
.order__text{
    font-size: 30px;
	line-height: 30px;	
    color: #000000; 
}
.order__complete{
    font-size: 14px;
	line-height: 18px;	
    color: #ffffff; 
    background-color: #ee3643;
    border-color: #ee3643;
}
.order__continue{
    font-size: 14px;
	line-height: 18px;	
    color: #000000; 
    background-color: #ffffff;
    border-color: #ffffff;
}